%icon-mask {
  display: grid;

  &::after {
    display: block;
    content: "";
    height: inherit;
    grid-area: 1/-1;
    mask: no-repeat center/contain;
  }
}

%color-animation {
  transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    color 0.2s cubic-bezier(0.15, 0, 0.15, 0);
}