.p-toast {
    .p-toast-message-text {
        .p-toast-summary {
            font-size: 1.8rem;
        }

        .p-toast-detail {
            font-size: 1.7rem;
        }
    }

    .pi {
        font-size: 1.8rem;
    }
    
}